body{
    margin: 0px;
    text-align:center;
    background-color:#121212;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);}
    
.modelo{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255, 0.8);
    margin: 80px auto;
    padding:180px 15px 15px 15px;
    border:10px solid #444;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size:cover;
    background-image:linear-gradient(rgba(0,0,0,0.2)),url('imagemfundo.jpg');
    background-position: center;
    min-height: 350px;

}
#name{
    font-size: 30px ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(248, 162, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    
}

.fonte{
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    color:rgb(31, 209, 209);
    font-size: 15px;
   text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}




.cor{color:rgb(255, 136, 0);
text-decoration: none;
font-weight:bold;
font-size: 20px;
text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}


